In [10]:
import os
import leafmap.leafmap as leafmap

In [11]:
in_csv = "./narita_near_bridge-1.csv"

In [12]:
df = leafmap.csv_to_df(in_csv)

In [13]:
df

   id                           name   latitude   longitude
0   0  成田市古込１−１成田国際空港第２旅客ターミナルビル地下１階  35.773655  140.388448
1   1                      成田国際空港警察署  35.781047  140.362453
2   2                         成田国際空港  35.761558  140.387063
3   3                            成田2  35.783610  140.358890
4   4                           駒井野橋  35.785290  140.371400

In [14]:
Map = leafmap.Map()

In [6]:
Map.add_xy_data(in_csv, x="longitude", y="latitude", layer_name="narita")
Map

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…

In [7]:
out_dir = os.path.expanduser("./")
if not os.path.exists(out_dir):
    os.makedirs(out_dir)
out_shp = os.path.join(out_dir, "narita.shp")

In [8]:
leafmap.csv_to_shp(in_csv, out_shp)

In [9]:
out_geojson = os.path.join(out_dir, "narita.geojson")
leafmap.csv_to_geojson(in_csv, out_geojson)