In [24]:
import os
import leafmap.leafmap as leafmap

In [25]:
in_csv = "./test_simple_search-2_convert-1.csv"

In [26]:
df = leafmap.csv_to_df(in_csv)

In [27]:
df

   id         name   latitude   longitude
0   0         つくば2  36.057380  140.088350
1   1  つくばウェルネスパーク  36.161620  140.071082
2   2       つくばカピオ  36.079049  140.115881
3   3  つくばウェルネスパーク  36.160575  140.071080
4   4  つくばウェルネスパーク  36.161621  140.071074

In [28]:
Map = leafmap.Map()

In [29]:
Map.add_xy_data(in_csv, x="longitude", y="latitude", layer_name="tsukuba")

In [30]:
Map

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…

In [31]:
out_dir = os.path.expanduser("./")
if not os.path.exists(out_dir):
    os.makedirs(out_dir)
out_shp = os.path.join(out_dir, "tsukuba.shp")

In [32]:
leafmap.csv_to_shp(in_csv, out_shp)

In [33]:
out_geojson = os.path.join(out_dir, "tsukuba.geojson")
leafmap.csv_to_geojson(in_csv, out_geojson)

In [34]:
in_csv2 = "./tsukuba_kyon-2.csv"

In [35]:
df2 = leafmap.csv_to_df(in_csv2)

In [36]:
df2

,WKT,longitude,latitude,名前,説明
0,POINT (140.118946 36.1044419),140.118946,36.104442,柴崎,令和6年(2024年)5月9日 \tつくば市柴崎地内
1,POINT (140.0707048 36.0105083),140.070705,36.010508,みどりの東,令和6年(2024年)5月9日 \tつくば市みどりの東地内
2,POINT (140.1233394 36.0990598),140.123339,36.099060,流星台,令和6年(2024年)5月19日 \tつくば市流星台地内
3,POINT (140.0726882 36.150161),140.072688,36.150161,大穂,令和6年(2024年)6月3日 \tつくば市大穂地内
4,POINT (140.0136323 36.1471948),140.013632,36.147195,吉沼,令和6年(2024年)6月4日 \tつくば市吉沼地内
5,POINT (140.1086634 36.1828128),140.108663,36.182813,平沢,令和6年(2024年)6月22-23日 \tつくば市平沢地内

In [37]:
Map.add_xy_data(in_csv2, x="longitude", y="latitude", layer_name="kyon")
Map

Map(bottom=754.0, center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', …

In [38]:
Map.add_layer_control()

In [39]:
Map

Map(bottom=754.0, center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', …