In [7]:
import os
import leafmap.leafmap as leafmap

In [8]:
in_csv = "./test_simple_search-2_convert-1.csv"

In [9]:
df = leafmap.csv_to_df(in_csv)

In [10]:
df

   id         name   latitude   longitude
0   0         つくば2  36.057380  140.088350
1   1  つくばウェルネスパーク  36.161620  140.071082
2   2       つくばカピオ  36.079049  140.115881
3   3  つくばウェルネスパーク  36.160575  140.071080
4   4  つくばウェルネスパーク  36.161621  140.071074

In [11]:
Map = leafmap.Map()

In [12]:
Map.add_xy_data(in_csv, x="longitude", y="latitude", layer_name="tsukuba")
Map

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…

In [13]:
out_dir = os.path.expanduser("./")
if not os.path.exists(out_dir):
    os.makedirs(out_dir)
out_shp = os.path.join(out_dir, "tsukuba.shp")

In [14]:
leafmap.csv_to_shp(in_csv, out_shp)

In [15]:
out_geojson = os.path.join(out_dir, "tsukuba.geojson")
leafmap.csv_to_geojson(in_csv, out_geojson)